<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>

		<listener
			class-name="com.swaroopAssignment1.Utils.CustomerListener" />
		<listener
			class-name="com.swaroopAssignment1.retryLogic.TransformerForRetry" />
			<listener
			class-name="com.swaroopAssignment1.ExtendReports.ExtendReportListener" />

	</listeners>
	<test thread-count="5" name="Test">
		<classes>
			<class
				name="com.swaroopAssignment1.Tests.OrderConfirmationPageTest"></class>
			<class name="com.swaroopAssignment1.Tests.OrderPageTest" />
			<class name="com.swaroopAssignment1.Tests.MyAccountPageTest"></class>
			<class name="com.swaroopAssignment1.Tests.LoginPageTest"></class>
			<class name="com.swaroopAssignment1.Tests.ContactUsPageTest"></class>
			<class name="com.swaroopAssignment1.Tests.HomePageTest"></class>
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
